*{
    margin:0px;
    padding: 0px;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
}

input{
    border: 1px solid black;
    background-color: #EBEBEB;
    border-radius: 5px;
    padding: 3px;
}
select{
    border:1px solid black;
}
body{
    font-family: sans-serif;
}
.sub-form{
    color:#404040;
    text-align: center;
    margin-top: 10px;
}
hr{
    border: 1px solid rgb(166, 163, 163);
    width: 500px;
    margin:0 auto;
    margin-bottom: 10px;
}
form{
    border:1px solid black;
}

.part_1{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(147, 22, 22);
    width: 75%;
}

.part_1 label, input{
    margin-top: 10px;
}


