*{
    margin:0px;
    padding: 0px;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
}

input{
    background-color: #EBEBEB;
    border-radius: 5px;
    padding: 3px;
}
select{
    border:1px solid black;
}
body{
    font-family: sans-serif;
    padding: 10px;
}
.sub-form{
    color:#404040;
    text-align: center;
    margin-top: 10px;
}
hr{
    border: 1px solid rgb(206, 199, 199);
    width: 500px;
    margin:0 auto;
    margin-bottom: 10px;
}
form{
    border:1px solid black;
}

.part_1{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2, auto);
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

.part_1 label, input{
    margin-top: 10px;
    margin-left: 8px;
}

.part_1 div{
    
    padding: 10px;
}

.table-horas{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(4, auto);
}

.container-btn{

    width: 250px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 70%;
    text-align: center;
}
.btn-save{
    border-radius: 10px;
    padding: 3px 15px 3px 15px;
    color:white;
    background-color: #c7231b;
}

.btn-cancel{
    border-radius: 10px;
    padding: 3px 15px 3px 15px;
    color: white;
    background-color: #373a3c;
}


